aside {
  background-color: #e9e9e9;
}

aside header {
  padding: 1rem;
  display: flex;
  justify-content: start;
  gap: 8px;
}

aside header h2 {
  color: #303030;
}

aside nav ul {
  padding-left: 1.5rem;
  margin: 10px;
}

aside nav li {
  margin: 1rem 0;
}

aside nav a {
  display: block;
  color: #303030;
  text-decoration: none;
}

@media screen and (width <= 768px) {
  aside {
    width: 100%;
    min-width: 0;
    max-width: none;
  }
}